In [1]:
# 1Python program to find Area of a circle

def findArea(r):
    PI = 3.142
    return PI * (r*r);

# Driver method
print("Area is %.6f" % findArea(5));

Area is 78.550000

In [3]:
#2
a = int(input("Input an integer: "))
# Create new integers 'n1', 'n2', and 'n3' by concatenating 'a' with itself one, two, and three times, respectively
n1 = int("%s" % a) # Convert 'a' to an integer
n2 = int("%s%s" % (a, a)) # Concatenate 'a' with itself and convert to an integer
n3 = int("%s%s%s" % (a, a, a)) # Concatenate 'a' with itself twice and convert to an integer # Calculate the sum of 'n1', 'n2', and 'n3' and print the result
print(n1 + n2 + n3)

Input an integer:  5

615

In [15]:
#3
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <= 1000:
        return product
    else:
        return num1 + num2

result = multiplication_or_sum(20,30)
print("The result is = ", result)


result = multiplication_or_sum(50,10)
print("The result is = ", result)

The result is =  600
The result is =  500

In [13]:
#4 Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [16]:
#5 Creating a list of numbers
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Initializing counters for even and odd numbers
even = 0
odd = 0

for num in a:
  
    # Checking if the number is even
    if num % 2 == 0:  
        even += 1
    else:  
        odd += 1

# Printing the results
print("Even numbers:", even)
print("Odd numbers:", odd)

Even numbers: 4
Odd numbers: 5

In [17]:
# 6Temperature in celsius degree
celsius = 47

# Converting the temperature to
# fehrenheit using the formula
fahrenheit = (celsius * 1.8) + 32

# printing the result
print('%.2f Celsius is equivalent to: %.2f Fahrenheit'
	% (celsius, fahrenheit))

47.00 Celsius is equivalent to: 116.60 Fahrenheit

In [19]:
#7
items = [n for n in input().split('-')]
# Sort the elements in the 'items' list in lexicographical order (alphabetical and numerical sorting)
items.sort()
# Join the sorted elements in the 'items' list using the hyphen ("-") separator and print the resulting string
print('-'.join(items))

 fninefie-ife

fninefie-ife

In [20]:
#8
Str="GeeksForGeeks"
lower=0
upper=0
for i in Str:
	if(i.islower()):
			lower+=1
	else:
			upper+=1
print("The number of lowercase characters is:",lower)
print("The number of uppercase characters is:",upper)

The number of lowercase characters is: 10
The number of uppercase characters is: 3

In [21]:
#9
alpha,string=0,"Geeks1234"
for i in string:
	if (i.isalpha()):
		alpha+=1
print("Number of Digit is", len(string)-alpha)
print("Number of Alphabets is", alpha)

Number of Digit is 4
Number of Alphabets is 5

In [22]:
#10
dict = {0:10, 1:20}
print("Current Dict is:" , dict)
# adding 2
dict.update({2:30})
print("Updated Dict is:", dict)
# adding dict1 (key4 and key5) to dict
#dict1 = {'key4': 'is', 'key5': 'fabulous'}
#dict.update(dict1)
#print("After adding dict1 is:" , dict)
# by assigning
#dict.update(newkey1='portal')
#print("After asssigning new key:" , dict)

Current Dict is: {0: 10, 1: 20}
Updated Dict is: {0: 10, 1: 20, 2: 30}

In [24]:
#11
def Remove(initial_set):
	while initial_set:
		initial_set.pop()
		print(initial_set)


initial_set = set([12, 10, 13, 15, 8, 9])
Remove(initial_set)

{9, 10, 12, 13, 15}
{10, 12, 13, 15}
{12, 13, 15}
{13, 15}
{15}
set()

In [25]:
#12
tuplex = 2, 4, 5, 6, 2, 3, 4, 4, 7
# Print the contents of the 'tuplex' tuple
print("The given set:")
print(tuplex)
# Count the number of times the value 4 appears in the 'tuplex' tuple
count = tuplex.count(4)
print("Occurrence of given item")
# Print the count of how many times 4 appears
print(count)

The given set:
(2, 4, 5, 6, 2, 3, 4, 4, 7)
Occurrence of given item
3

In [3]:
#13
with open("myfile.txt", 'r') as fp:
	lines = len(fp.readlines())
	print('Total Number of lines:', lines)

Total Number of lines: 0

In [6]:
#14
file1 = open("myfile", "w")
L = ["This is Delhi \n", "This is Paris \n", "This is London"]
file1.writelines(L)
file1.close()
file1 = open("myfile", "r") # use your own file path
print("Output of Readlines before appending")
print(file1.read())
print()
file1.close()
# Append-adds at last
file1 = open("myfile", "a") # append mode
file1.write(" Today \n")
file1.close()
file1 = open("myfile", "r")
print("Output of Readlines after appending")
print(file1.read())
print()
file1.close()

Output of Readlines before appending
This is Delhi
This is Paris
This is London

Output of Readlines after appending
This is Delhi
This is Paris
This is London Today

In [15]:
import string,os
if not os.path.exists("letters"):
      os.makedirs("letters")
for letter in string.ascii_uppercase:
    with open(letter + ".txt", "w") as f:
          
        f.writelines(letter)